on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  deploy:
    name: yarn install, build and deploy
    runs-on: ubuntu-latest
    steps:
    -  uses: actions/checkout@v3
    -  name: Use nodejs latest version
       uses: actions/setup-node@v3
       with:
         node-version: '14'
    -  name: yarn install, build and deploy
       run: |
         cd ./nivesh_landing_master
         yarn install
         yarn build --if-present
    # -  name: Publish
    # -  uses: nogsantos/scp-deploy@master
    #    with:
    #       src: ./dist/*
    #       host: ${{ secrets.SSH_HOST }}
    #       remote: ${{ secrets.SSH_DIR }}
    #       port: ${{ secrets.SSH_PORT }}
    #       user: ${{ secrets.SSH_USER }}
    #       key: ${{ secrets.SSH_KEY }}
